<!DOCTYPE html output>
<html>
<head>
    <title>Board</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
    ul.error { list-style-type: square; color: red }
    </style>
</head>
<body>
    <ul class="error">
    {{#.}}
    <li>
        CLASS: {{.}} <br> 
        PATH: {{path}} <br>
        MESSAGE: {{message}} <br>
        INVALID VALUE: "{{invalidValue}}"
    </li>
    {{/.}}
    </ul>    
    <form method="POST" action="submit">
        名前 : <input type="text" name="name" value="{{name}}"/>
        コメント : <input type="text" name="comment" size="80"/>
        <input type="submit"/>
    </form>
</body>
</html>
